<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LazyCopy.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LazyCopy.Service.Properties.Settings>
      <setting name="ReportRate" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>%ProgramData%\CustomCompany\LazyCopy\logs\</value>
      </setting>
      <setting name="DriverName" serializeAs="String">
        <value>LazyCopyDriver</value>
      </setting>
    </LazyCopy.Service.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
